/* Color fondo */
body {
  background-color: #ffffff;
  margin: 0;
}

.colorContenedor {
  background-color: #2790b0;
  padding: 10px 0 4%;
}

.logo {
  display: flex;
  justify-content: center;
}

/* header */

header .categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1f6c89;
}

header .categorias a {
  color: black;
  margin: 5px 5px;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  font-family: "Trebuchet MS";
}

header .categorias :hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

/* HEADER carrito */
header .carrito {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  display: flex;
}

/* / header */

/* Titulo de la seccion */
.tituloSeccion {
  text-align: center;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

/* centrar imagenes de los productos */
.centrarimagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* texto, distancia y tamaño  */
.textSeccion {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: black;
}

.quitarSubrayado {
  text-decoration: none;
  color: black;
}

/* Tamaño imagenes de los productos */
.imagenes img {
  margin: 1%;
  width: 300px;
  height: 300px;
  object-fit: contain;
  position: relative;
  padding: 1px;
}

/* Efecto agrandar imagenes de los productos */
.centrarimagenes :hover img {
  transform: scale(1.1);
  transition-duration: 1s;
}

.centrarimagenes .text:hover img {
  transform: scale(1.1);
}
